<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title>Angular JS and the JS API</title>

    <link rel="stylesheet" href="http://js.arcgis.com/3.8/js/esri/css/esri.css" />

</head>

<body>

    <div>
        <div ng-controller="MainCtrl">
            <input type="text" ng-model="data.message">
           <h1>{{data.message}}</h1>
            <button ng-click="zoomIn()" type="button">Click Me!</button>
        </div>

        <div ng-controller="SecondCtrl">
            <input type="text" ng-model="data.message">
            <h1>{{data.message|reverse}}</h1>
        </div>

        <div id="map" ng-controller="MapCtrl"></div>

    </div>
    <!-- load Angular and the JS API -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <script src="http://js.arcgis.com/3.8/"></script>

    <!-- load our setup file -->
    <script src="setup.js" type="text/javascript"></script>

    <!-- start our application -->
    <script src="init.js" type="text/javascript"></script>
</body>

</html>
